# Basic Python

## 5 building block
### 1.variable
### 2.datype
### 3.data structire
### 4.function
### 5.control flow
### 6.OOP

### 1.valiable

In [144]:
my_name = "toy"
age = 44
gpa = 3.75
movie_lover = True

In [145]:
my_name

'toy'

In [146]:
print(my_name,age,gpa,movie_lover)

toy 44 3.75 True

In [147]:
s23 = 5552

In [148]:
# remove variable (ตัวแปร)
del s23

In [149]:
age +=1
age +=1
age -=1
print(age)

45

### Data type

In [150]:
# int float str bool

##### check data type

In [151]:
print(type(age))
print()

<class 'int'>

In [152]:
# convert type
x = 100
print(x,type(x))
x = str(100)
print(x,type(x))

100 <class 'int'>
100 <class 'str'>

In [153]:
# convert boolen true -> int 1
y = False # T=1 ,F=0
print(y,type(y))
y1 = int(y)
print(y1, type(y))

False <class 'bool'>
0 <class 'bool'>

In [154]:
# string : concat ต่อกัน
text ="hello"
text + text

'hellohello'

In [155]:
#  type hint
age : int = 34
my_name : str = "toy"

In [156]:
print (age , type (age))

34 <class 'int'>

### 2.function

In [157]:
print(pow(5,2))

25

In [158]:
# greeting : def สร้าง function ใหม่
def greeting () :
    print( "hello!" )

In [159]:
greeting()

hello!

In [160]:
#Ex2  input data เพิ่ม  parameter

def greeting (name) :
    print( "hello!" + name )

In [161]:
greeting("Lisa")

hello!Lisa

In [162]:
# EX3 เปลี่ยน parameter

def greeting (name= "john" , location = "London") :
    print( "hello!" + name )
    print( " he is at " + location)

In [163]:
greeting("kook")

hello!kook
 he is at London

In [164]:
#สร้างฟังก์ชั่น บวกเลขเอง
def add_two_nums( x , y ) :
    print (x+y)

In [165]:
add_two_nums(5,6)

11

In [166]:
# ให้ function return ค่า = ส่งค่าไป result ไปฝากตัวแปรใหม่
def add_two_nums( x , y ) :
    return x+y

In [167]:

def add_two_nums( x , y ) :
    print ( " you input two number for add")
    return x+y

In [168]:
result = add_two_nums(5,6)
print (result)

 you input two number for add
11

In [169]:
#### Use hint

def add_two_nums( x : int  , y : int ) :
    return (x+y)

In [170]:
add_two_nums(1,3)

4

In [171]:
# work with string -> """ for new line

text = "hello world"

long_text = """ this is a 
very long text """

print ( text )
print ( long_text )

hello world
 this is a
very long text

In [172]:
### fstring <-  string template

my_name = " kook prin"
location  = "thai"

text = f" hi my name is {my_name} and i live in {location}"

print(text)

 hi my name is  kook prin and i live in thai

In [173]:
text = "a duck walk in to a bar"
print(text)

a duck walk in to a bar

In [174]:
len(text)

23

In [175]:
# slicing : ดึงตัวอักษรแต่ละตัวออกมา
text[0]

'a'

In [176]:
text[-1]

'r'

In [177]:
print(text[0],text[-1])

a r

In [178]:
# slincing เป็น ช่วง

text

'a duck walk in to a bar'

In [179]:
text[ 2 : 6 ] #5+1=6

'duck'

In [180]:
text[12:18]

'in to '

In [181]:
text[7:]

'walk in to a bar'

In [182]:
text[ -3 ]

'b'

In [183]:
# string is inmutable

name = "python"
print(name[1 :])
name = "c" + name[1: ]
print(name)

ython
cython

In [184]:
text = "a duck walk in to a bar"

In [185]:
len (text)

23

In [186]:
# function vs method
text.upper()

'A DUCK WALK IN TO A BAR'

In [187]:
text.title()

'A Duck Walk In To A Bar'

In [188]:
text.lower()

'a duck walk in to a bar'

In [189]:
# Replace คำ
text.replace( "duck","lion" )

'a lion walk in to a bar'

In [190]:
# ตัดคำ split = token

words = text.split(" ") 
print(words)

['a', 'duck', 'walk', 'in', 'to', 'a', 'bar']

In [191]:
words

['a', 'duck', 'walk', 'in', 'to', 'a', 'bar']

In [192]:
# เชื่อมคำ เชื่อมด้วยเครื่องหมาย " "

" ".join(words)

'a duck walk in to a bar'

###  3. data structure

#### 1. list [ ]
#### 2. tuple ()
#### 3. dictionaly {}
#### 4. set {unique}

In [193]:
### 3. data structure

#  1. list []
#  2. tuple ()
#  3. dictionaly {}
#  4. set {unique}

In [194]:
# list -> เปลี่ยน update ค่าได้
shopping_items = [ "banana","egg","milk" ]

shopping_items[0] = "mango"


print (shopping_items)

['mango', 'egg', 'milk']

#### append

In [195]:
# list method
# append() = ต่อกัน

shopping_items.append("longan")
print (shopping_items)

['mango', 'egg', 'milk', 'longan']

#### sort

In [196]:
# sort item

shopping_items.sort()
print (shopping_items)

['egg', 'longan', 'mango', 'milk']

In [197]:
shopping_items.sort(reverse=True) # desc
print (shopping_items)

['milk', 'mango', 'longan', 'egg']

In [198]:
scores = [ 88,90,87,85]

In [199]:
print ( sum(scores) , min(scores),len(scores))

350 85 4

In [200]:
# average
print(sum(scores) / len(scores))

87.5

In [201]:
# ประกาศ function

def mean_score(scores) :
  return sum(scores) / len(scores)

In [202]:
# เรียกใช้งาน mean_score
scores = [ 88,90,87,85]

print(len(scores) , sum(scores) , 
      min(scores), max(scores),
      mean_score(scores))

4 350 85 90 87.5

#### pop ( )

In [203]:
# Remove ตัวสุดท้ายทิ้ว
print(shopping_items)
shopping_items.pop()
shopping_items

['milk', 'mango', 'longan', 'egg']

['milk', 'mango', 'longan']

In [204]:
# append
shopping_items.append("egg")

#### remove ("...")

In [205]:
# remove ตัวอื่น ไม่ใช่ตัวสุดท้าย
shopping_items.remove("mango")
shopping_items

['milk', 'longan', 'egg']

#### insert (ตำแหน่ง , "...")

In [206]:
# insert new items
#.insert()
shopping_items.insert(1,"vetgetable")
shopping_items

['milk', 'vetgetable', 'longan', 'egg']

In [207]:
# list [ ] + list [ ]

items1 = [ "egg" , " milk"]
item2 = [ " banana" , " bread"]
items1 + item2

['egg', ' milk', ' banana', ' bread']

### Tuple : เก็บค่าที่ไม่ต้องการเปลี่ยนค่า

In [208]:
## tuple =inmutable > no update ค่า

In [ ]:
# tuple () 
tup_item = ("egg" , " banana","peppsi","egg")

In [ ]:
tup_item.count("egg")

2

In [213]:
s1 = ("id1" , "12345")
s2 = ("id2" , "44253")
user_pw = (s1,s2)

print(user_pw)

(('id1', '12345'), ('id2', '44253'))

In [217]:
# tuple unpacking กระจายค่า
username , password = s1
s1

('id1', '12345')

In [218]:
# Unpack 3 varliable

name,age,gpa = ("kook", 44, 3.75  )
print(name , age,gpa)

kook 44 3.75

### Dictionary

In [219]:
# dictionay > mutable

course = {
    "name" : " data science bootcamp",
    "duration" : "4 months",
    "skill " : [ "google sheet" , "dashboard","SQL","R","python" ],
    "student" : 200

}

In [220]:
course

{'name': ' data science bootcamp',
 'duration': '4 months',
 'skill ': ['google sheet', 'dashboard', 'SQL', 'R', 'python'],
 'student': 200}

In [221]:
# ดึงค่าข้อมูลด้วย - - >Key
course["student"]

200

In [222]:
# เพิ่ม key ใหม่
course["start time"] = "9am"
course

{'name': ' data science bootcamp',
 'duration': '4 months',
 'skill ': ['google sheet', 'dashboard', 'SQL', 'R', 'python'],
 'student': 200,
 'start time': '9am'}

In [223]:
# ลบ key ทิ้ง
del course["start time"]
course

{'name': ' data science bootcamp',
 'duration': '4 months',
 'skill ': ['google sheet', 'dashboard', 'SQL', 'R', 'python'],
 'student': 200}

In [ ]:
# change ค่า
course["student"] = 300
course

{'name': ' data science bootcamp',
 'duration': '4 months',
 'skill ': ['google sheet', 'dashboard', 'SQL', 'R', 'python'],
 'student': 300}

In [ ]:
# ดึง subset ออกมา
course["skill "] [-3:]

['SQL', 'R', 'python']

In [ ]:
list(course.keys())  # อยากรู้ key => column

['name', 'duration', 'skill ', 'student']

In [224]:
course.values()

dict_values([' data science bootcamp', '4 months', ['google sheet', 'dashboard', 'SQL', 'R', 'python'], 200])

In [227]:
list(course.values())

[' data science bootcamp',
 '4 months',
 ['google sheet', 'dashboard', 'SQL', 'R', 'python'],
 200]

In [ ]:
# ส่งค่าเป็นคู่ dictionary

In [ ]:
course.items()

dict_items([('name', ' data science bootcamp'), ('duration', '4 months'), ('skill ', ['google sheet', 'dashboard', 'SQL', 'R', 'python']), ('student', 300)])

In [ ]:
list(course.items())

[('name', ' data science bootcamp'),
 ('duration', '4 months'),
 ('skill ', ['google sheet', 'dashboard', 'SQL', 'R', 'python']),
 ('student', 300)]

In [ ]:
# get
course.get("student")

300

In [ ]:
#-----------------------------

In [ ]:
# set {unique}

course = ["python","R" , "python","SQL"]
course

['python', 'R', 'python', 'SQL']

In [ ]:
set(course) # ไม่นับซ้ำ

{'R', 'SQL', 'python'}

In [ ]:
# dictionay , list -> mutable
# tuple , string  - > immutable อัพเดทค่าไม่ได้

In [ ]:
#######################

### Control flow
# 1. if
# 2. for
# 3. while

### IF

In [229]:
# if

score = 125
if score >= 120 :
  print ( " pass " )
else :
  print ( " fail " )

 pass

In [231]:
# creat function grate

def grade (score) :
    if score >= 120 :
        print ( " pass " )
    else :
        print ( " fail " )

In [232]:
# test function

grade (125)

 pass

In [233]:

def grade (score) :
    if score >= 120 :
        return " pass " 
    else :
        return " failed " 

## return +> ฝากค่าใหม่ชื่อ result ได้

In [234]:
result = grade(144)
print(result)

 pass

In [236]:

def grade (score) :
    if score >= 120 :
        return " Excellent " 
    elif score >= 100 :
        return " Good"
    elif score >= 80 :
        return " Okey"
    else :
        return " failed "

In [239]:
result = grade(95)
print(result)

 Okey

In [ ]:
# Used And , Or

# course == data science , score >= 80 passed
# course == english , score >= 70 passed

In [240]:
def grade ( course , score ) :
    if course == "english" and score >=70 :
        return "passed"
    elif course == "data sciencr" and score >= 80 :
         return "passed"
    else :
        return " failed "

In [244]:
result = grade("english",80)
print(result)

passed

### for

In [246]:
# For
# if score >= 80  , passed


scores = [88 , 90 , 75]

for score in scores :
    print(score)

88
90
75

In [248]:

# update score
scores = [88 , 90 , 75]

new_score = []   # new_score บรรทัดล่าง เอามาใส่ อัพเดท ตรงนี้
for score in scores :
    new_score.append(score-2)

print( new_score)

[86, 88, 73]

In [249]:
def grading_all(scores) :
    new_score = []
    for score in scores :
     new_score.append(score+2)
    return new_score

In [250]:
grading_all( [ 75 , 99 , 85 , 84 ] )

[77, 101, 87, 86]

In [ ]:
#---------

In [ ]:
# List comprehention

In [251]:
scores = [88 , 90 , 75]

In [252]:
for s in scores :
    print (s *2)

176
180
150

In [253]:
[ s *2   for s in scores     ]

# for s in scores :
#     print (s *2)

# ctr + /

[176, 180, 150]

In [254]:
new_s = [ s *2   for s in scores     ]
new_s

[176, 180, 150]

In [255]:
friend = [ "toy" , "kook", "nu" , "nok" , "mee"]
for f in friend :
    print (f.upper())

TOY
KOOK
NU
NOK
MEE

In [257]:
[ f.upper()   for f in friend  ]

# for f in friend :
#     print (f.upper())

['TOY', 'KOOK', 'NU', 'NOK', 'MEE']

### While

In [ ]:
#------------------

In [ ]:
# while loop
count =0

while count < 5 :
    print("hello") 
    count = count +1  # count+=1

hello
hello
hello
hello
hello

#### input

In [258]:
# chatbot
user_name = input("What is your name?  ")

What is your name?  kook

In [259]:
user_name

'kook'

In [260]:
def chatbot():
    fruits = []
    while True :
        fruit = input("what fruit do you want.....? ")                       # user input
        fruits.append(fruit)                                                          # sent to upper
        if fruit == "exit" : 
            return fruits

In [261]:
chatbot()

what fruit do you want.....? hooo
what fruit do you want.....? hid
what fruit do you want.....? dd
what fruit do you want.....? ddd
what fruit do you want.....? exit

['hooo', 'hid', 'dd', 'ddd', 'exit']

In [ ]:
# HW01 : ordrer pissa
# HW02 : pow ying shup

In [262]:
age = int(input(" How old are you ?   "))

 How old are you ?   55

In [263]:
type ( age)

int

In [ ]:
###-------------------------------------------------------------------------------------------##

In [ ]:
# OOP  => Object Oriented Programming

# dog class

In [264]:
class Dog :
   pass

In [265]:
dog = Dog()
print (dog)

<__main__.Dog object at 0x7f0435bc47f0>

In [266]:
class Dog:
    def __init__(self,name) :
        self.name = name

In [270]:
dog1 = Dog("mila")
dog2 = Dog("joo")
dog3 = Dog("lijo")

In [271]:
print ( dog1.name,
          dog2.name,
          dog3.name)

mila joo lijo

In [275]:
class Dog :
    def __init__ (self,name,age) :
        self.name = name
        self.age = age

In [276]:
dog1 = Dog("mila" , 2)
dog2 = Dog("joo" , 3)
dog3 = Dog("lijo" , 5)

In [277]:
print ( dog1.name, dog1.age,
          dog2.name,dog2.age,
          dog3.name,dog3.age)

mila 2 joo 3 lijo 5

In [287]:
class Employee:
    def __init__(self, id , name , dept , pos):
        self.id = id
        self.name = name
        self.dept = dept
        self.pos = pos
    def hello(self) :
        print ( f"hello! my name is {self.name}")
    def work_hour (self , hours) :
        print (f" {self.name} work for {hours} hours ")

In [289]:
emp1 = Employee(1,"kook","Finance","CFO")

In [290]:
emp1.hello()

hello! my name is kook

In [291]:
emp1.work_hour(5)

 kook work for 5 hours

In [ ]:
print(emp1.name,emp1.pos)

kook CFO

In [ ]:
emp1.hello()

NameError: ignored